//
//  Production.xcconfig
//  StreamCast
//
//  Created by Codes Orbit on 13/05/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Production.xcconfig
PRODUCT_BUNDLE_IDENTIFIER = com.app.codesorbit.StreamCast
PRODUCT_NAME = StreamCast
APP_ICON_NAME = AppIcon
