<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Evexia Staging.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>11</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
				<key>dateExpires</key>
				<string>19/07/2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ActiveLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Algorithms.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Atributika.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>4.10.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BetterSegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BiometricAuthentication.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CRRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HCVimeoVideoExtractor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JTAppleCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>20.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>7.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NBBottomSheet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>QuickLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RookAppleHealth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RookConnectTransmission.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RookSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RookUsersSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Segmentio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftEntryKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Swinject.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>789E52DDA0FB63489AE0DFF5BD3C22630C02D5F5</string>
						<key>dateExpires</key>
						<string>19/07/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92UHXWRKQ5</string>
						<key>name</key>
						<string>Evexia Health International LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>92UHXWRKQ5.com.app.evexia</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:evexia.page.link</string>
				</array>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>92UHXWRKQ5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Evexia Staging.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8409a10d-705f-4be0-8885-db0143418a4d</string>
				<key>dateExpires</key>
				<string>19/07/2024</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.app.evexia</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>92UHXWRKQ5</string>
				<key>name</key>
				<string>Evexia Health International LTD</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
