//
//  Staging.xcconfig
//  CleanArchitecture
//
//  Created by Codes Orbit on 11/06/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-CleanArchitecture/Pods-CleanArchitecture.staging.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.codesOrbit.cleanArchitecture.staging
PRODUCT_NAME = Clean Architecture Staging
APP_ICON_NAME = AppIcon.staging
